[Unit]
Description=ArchiveGramBot
After=network.target

[Service]
WorkingDirectory=/home/user/archivegrambot/
ExecStart=/home/user/archivegrambot/archivegrambot
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
